<!DOCTYPE html>
<html lang="en">
    <title>CIFAR-10 Classes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='demo.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

    <style>
        .mySlides {display:none}
        .w3-left, .w3-right, .w3-badge {cursor:pointer}
        .w3-badge {height:13px;width:13px;padding:0}
    </style>

    <body>

       <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="{{ url_for('home') }}">
                    <strong>&laquo; Home &raquo;</strong>
                </a>

                <a href="{{ url_for('cifar10info') }}">
                    <strong>&laquo; CIFAR-10 Dataset &raquo;</strong>
                </a>

                <a href="{{ url_for('vision') }}">
                    <strong>&laquo; CIFAR-10 Image Grid &raquo;</strong>
                </a>

                 <a href="{{ url_for('neuralnet') }}">
                    <strong>&laquo; Convolutional Neural Network Basics &raquo;</strong>
                </a>
            </div><!--/ Codrops top bar -->
        </div>


        <header class="codrops-header">
            <h1>What is the CIFAR-10 dataset?</h1>
            <hr>
            <p style="font-size: 30px">The details:</p>
            <p>&bull; 10 classes</p>
            <p>&bull; 6,000 images per class</p>
            <p>&bull; 60,000 <img border="0" alt="codrops" src="{{url_for('static', filename='rainbow.png')}}" width="48" height="48" align="center"> images</p>
            <p>&bull; Each image: 32 x 32 pixels</p>
            <hr>
            <p style="font-size: 30px" >The 10 classes are:</p>

        </header>

        <div class="w3-content w3-display-container" style="max-width:600px">
            <img class="mySlides" src="{{url_for('static', filename='f22raptorRS.jpg')}}" style="width:100%">
            <img class="mySlides" src="{{url_for('static', filename='corvetteRS.jpg')}}" style="width:100%">
            <img class="mySlides" src="{{url_for('static', filename='eagleRS.jpg')}}" style="width:100%">
            <img class="mySlides" src="{{url_for('static', filename='kittenRS.jpg')}}" style="width:100%">
            <img class="mySlides" src="{{url_for('static', filename='deerRS.jpeg')}}" style="width:100%">
            <img class="mySlides" src="{{url_for('static', filename='dogRS.jpg')}}" style="width:100%">
            <img class="mySlides" src="{{url_for('static', filename='frogRS.gif')}}" style="width:100%">
            <img class="mySlides" src="{{url_for('static', filename='horseRS.jpg')}}" style="width:100%">
            <img class="mySlides" src="{{url_for('static', filename='boatRS.jpg')}}" style="width:100%">
            <img class="mySlides" src="{{url_for('static', filename='truckRS.jpg')}}" style="width:100%">
        <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    
        <div class="w3-left w3-padding-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-padding-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(10)"></span>
        </div>
        </div>

        <hr>

        <p class="codrops-info"><a href="{{ url_for('vision') }}"> Next: CIFAR-10 Image Grid <img border="0" alt="Image Grid" src="{{url_for('static', filename='cifar-grid.png')}}" width="100" height="48" align="bottom"></a></p>

        <hr>

        <p style="font-size: 15px" class="codrops-info">Slideshow code courtesy of:<a target="_blank" href="http://www.w3schools.com/w3css/w3css_slideshow.asp"> w3schools <img border="0" alt="codrops" src="{{url_for('static', filename='w3schools.jpg')}}" width="48" height="48" align="center"></a></p>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " w3-white";
        }
    </script>

    </body>
</html> 