<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Convolutional Neural Networks</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='demo.css')}}" />
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
	</head>

	<style>
		body  {
    		/*background-image: url("{{url_for('static', filename='matrix_agents.gif')}}");*/
    		background-color: #171c17;
    		/*background-size: cover */
		}
	</style>

	<body>
		<div class="container">
			
			<!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="https://github.com/john-hou117", style="color:indigo;" target="_blank">
                    <strong>&laquo; My Github &raquo;</strong>
                </a>
            </div><!--/ Codrops top bar -->
		</div>

		<header class="codrops-header">

			<p style="font-size: 26px; color:#00cc00; text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;">Image Recognition: ConvNets and the CIFAR-10</p>
			<hr>
			<p>
			<a href="{{ url_for('cifar10info') }}">
				<img border="0" alt="vision" src="{{url_for('static', filename='matrix_agents.gif')}}" width="1060" height="400">
			</a>
			</p>
        
        </header>

		<!-- <img src="{{url_for('static', filename='f22.png')}}", usemap="#buttonmap" />
		<map name="buttonmap">
  		<area shape="rect" coords="0,0,82,126" alt="Sun" href="{{ url_for('vision') }}">
		</map> -->

	</body>

</html>